{% extends 'MopaBootstrapBundle::base_less.html.twig' %}

{% block title %}Mapa medios{% endblock %}

{% block head_style %}
    {#% stylesheets filter='cssrewrite,?yui_css'
       '@MopaBootstrapBundle/Resources/public/css/mopabootstrapbundle.css'
    %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet"
           media="screen" />
    {% endstylesheets %#}
    
    {% stylesheets filter='less,cssrewrite,?yui_css'
       '@MopaBootstrapBundle/Resources/public/less/mopabootstrapbundle.less'
    %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block head_script %}
    {% javascripts
        'http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock head_script %}

{% embed '@MopaBootstrap/Navbar/navbar.html.twig' with { fixedTop: true, staticTop: false, inverse: true } %}
    {% block brand %}
        <a class="navbar-brand" href="#">Medios Mapa</a>
    {% endblock %}

    {% block menu %}
        {{ mopa_bootstrap_menu('MediosMapaBundle:Builder:mainMenu') }}
    {% endblock %}
{% endembed %}
